<div class="hide" id = "precondition_div">
<div class="example" id = "precondition_ex" name = "precondition">
<fieldset>
<h3>precondition</h3>
<p>Proccess Type:</p>
<input type = "text" value = "transform" id="process" data-optional= "false" >

<p>Database Type:</p>
<input type = "text" value = "EDW" id="database" data-optional= "false" >

<p>Schema Name:</p>
<input type = "text" value = "SchemaName" id= "schema" data-optional= "false">
<p>Table Name:</p>
<input type = "text" value = "TableName" id= "table" data-optional= "false">
<p>Template Name:</p>
<input type = "text" value = "TemplateName" id= "template" data-optional= "false">
<p>Date Format:</p>
<input type = "text" value = "@scheduledEndTime, 'yyyymmdd'" id= "format" data-optional= "false">
<input type = "button" value = "Exclude" id="button" onclick="changeExclude(this)">
</fieldset>
</div>
</div>

