<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<title>{{title}}</title>
<link rel="stylesheet" href="/css/style.css" type = "text/css"/>
<div class="image">
<img id="mickeyGears" src="/images/MickeyGears.svg">
</div>
</head>
<body> {{{body}}}
</body>
<head>
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
</head
</html>