<div class="header">
	<div class="title">
		<h1>ERROR</h1>
	</div>
</div>
<fieldset style="left:0; overflow: hidden">
<h2>Message :</h2>
<p>{{message}}</p>
</fieldset>
<img id="disgust" style="left:30vw; 
bottom: 30vh; 
width: 236px;
height: 348px" 
src="/images/disgust.jpg">
<script>
var mickey = document.getElementById("mickeyGears");
mickey.classList.add("hide");
</script>